.Container{
    background-color: #00000073;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.Imagem{
    width: 400px;
    margin-top: 4%;
}

.InputNames{
    width: 500px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #49bae7;
    margin: 15px;
    color: #49bae7;
    font-weight: bolder;
}

.ButtonConfirmed{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #49bae7;
    text-transform: uppercase;
}

.ButtonConfirmed:hover{
    background-color: #49bae7;
    border: solid 1px white;
    cursor: pointer;
}

.audio{
    position: fixed;
    left: 50;
    top: 800px;
}

.ContainerModal{
    background-color: #2d6db64d;
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
}

.Modal{
    max-width: 500px;
    background-color: white;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: cursive;
    border-radius: 10px;
    border: solid 1px rgb(0, 162, 255);
}

.btnContinuar{
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #00a2ff;
    display: block;
    margin: auto;
    font-family: cursive;
    text-transform: uppercase;
    margin-top: 10px;
}

.btnContinuar:hover{
    background-color: #00a2ff;
    color: white;
    border: solid 1px white;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.ContainerModalDesible{
    display: none;
}


@media screen and (max-width: 999px) {

    .Modal{
        width: 85%;
        font-size: 15px;
        padding: 20px;
    }

    .Container{
        justify-content: center;
    }

    .Imagem{
        margin: 0;
        padding: 0;
        width: 300px;
    }

    .InputNames{
        max-width: 90%;
    }

    .ButtonConfirmed{
        width: 60%;
    }

    .audio{
        position: fixed;
        left: 50;
        top: 5px;
    }
}