body{
    padding: 0!important;
    margin: 0!important;
    background-image: url("https://image.cdn2.seaart.ai/2023-06-17/35618713071685/6be7204a62cb647aed21f091bc4eb98b29e912d6_high.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}